.home {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../../assets/images/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  padding-bottom: 20px;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(105, 105, 105, 0.13);
  }
}
