.search-result {
  h1 {
    font-weight: 400;
    font-size: 40px;
  }

  width: 100%;
  background: white;
  color: black;
  margin: 0 auto;
  padding: 1rem 1.8rem;

  h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 1rem;
    align-items: flex-start;
    row-gap: 2rem;

    &-width {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .search-card {
    max-width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    gap: 0.5rem;

    span {
      font-size: 0.9rem;
      font-weight: 300;
      word-break: break-word;
    }

    .img-div {
      position: relative;
      width: 100%;
      height: 247px;
      transition: all 0.3s;
      img {
        width: 100%;
        height: 100%;

        border-radius: 5px;
      }

      .hover-show {
        display: none;
        transition: all 0.3s;
      }

      .heartIcon {
        position: absolute;
        top: 7%;
        right: 7%;
        color: white;
        cursor: pointer;
      }
      .heartIconRed {
        position: absolute;
        top: 7%;
        right: 7%;
        color: red;
        cursor: pointer;
      }
    }
    .img-div:hover {
      .hover-show {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(109, 132, 255, 0.71);
        top: 86%;
        transition: all 0.3s;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  span {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 400;
  }
}

@media (min-width: 500px) {
  .search-result {
    .wrapper-width {
      width: 50%;
      justify-content: center;
    }
  }
}
@media (min-width: 690px) {
  .search-result {
    .wrapper-width {
      width: 33.33%;
      justify-content: center;
    }
  }
}
@media (min-width: 870px) {
  .search-result {
    .wrapper-width {
      width: 25%;
      justify-content: center;
    }
  }
}
@media (min-width: 1040px) {
  .search-result {
    .wrapper-width {
      width: 20%;
      justify-content: center;
    }
  }
}
