// font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
}

// Import the components
@import url(components/_home.scss);
@import url(components/_button.scss);
@import url(components/_input.scss);
@import url(components/_trending.scss);
@import url(components/_searchDiv.scss);
